<!-- <mat-grid-list cols="5"> -->
<!-- <mat-grid-tile *ngIf="waitingForGameStart" [colspan]="3">
    <mat-error>
        Waiting for other players to join the game.
    </mat-error>
</mat-grid-tile>
<mat-grid-tile *ngIf="!waitingForGameStart" [colspan]="3">
    <app-guess-input></app-guess-input>
</mat-grid-tile>
<mat-grid-tile [colspan]="2" [rowspan]="2">
    <app-players-list></app-players-list>
</mat-grid-tile>
<mat-grid-tile [colspan]="3">3</mat-grid-tile> -->
<!-- </mat-grid-list> -->
<div fxLayout="row" fxLayoutAlign="space-evenly center">

    <div fxLayout="column" fxLayoutAlign="space-evenly center">
        <div class="card-container">
            <div class="mat-card-background">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{title}}</mat-card-title>
                        <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
                    </mat-card-header>
                    <!-- <img mat-card-image src="../../../assets/bulls_and_cows.png" alt="Photo of a Shiba Inu"> -->
                    <mat-card-content>

                        <div *ngIf="!waitingForGameStart">
                            <app-guess-input [player]="player" [protagonist]="protagonist" [myTurn]="myTurn">
                            </app-guess-input>
                        </div>

                    </mat-card-content>
                    <mat-card-actions>


                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <div class="word-list-container">
            <app-words-list></app-words-list>
        </div>
    </div>
    <div class="table-container">
        <app-players-list></app-players-list>
    </div>
</div>