.example-form {
  // width: 200px
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  color: darkslateblue;
  padding: 20px 5px;
}

.example-form-field {
  width: 100%;
}
.cross-icon {
  cursor: pointer;
}
