<div fxLayout="row" fxLayoutAlign="space-evenly center">

    <div fxLayout="column" fxLayoutAlign="space-evenly center">
        <div class="card-container">
            <div class="mat-card-background">
                <form class="example-form" [formGroup]="gameFormGroup" (keydown.enter)="$event.preventDefault()">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Create Game</mat-card-title>
                            <mat-card-subtitle>Mooooooooooooo</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="assets/bulls_and_cows.png" alt=" Cows and bulls">
                        <mat-card-content>
                            <mat-form-field class="example-form-field" appearance="fill">
                                <mat-label>Enter your nick name to join the game</mat-label>
                                <input formControlName="nameFormControl" matInput type="text"
                                    [errorStateMatcher]="matcher" #input (keydown.enter)="update()">
                                <mat-error *ngIf="nameFormControl.hasError('required')">
                                    Please enter a non empty name
                                </mat-error>
                                <mat-error *ngIf="nameFormControl.errors?.forbiddenName">
                                    Nick name is already used by a different player. Please enter a
                                    different nick name.
                                </mat-error>
                                <button *ngIf="nameFormControl.value" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="nameFormControl.patchValue('')">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <button *ngIf="nameFormControl.value && !nameFormControl.errors" matSuffix
                                    mat-icon-button aria-label="Clear" (click)="update()">
                                    <mat-icon>send</mat-icon>
                                </button>
                            </mat-form-field>

                        </mat-card-content>
                        <mat-card-actions>

                            <mat-error *ngIf="player.isModerator">
                                Please wait for all the players to join before starting the game.
                            </mat-error>
                            <br />
                            <button *ngIf="player.isModerator" mat-raised-button color="primary" (click)="startGame()">
                                Start Game
                            </button>

                        </mat-card-actions>
                    </mat-card>
                </form>
            </div>
        </div>

    </div>
    <div class="table-container">
        <app-players-list></app-players-list>
    </div>
</div>