<form class="example-form" (keydown.enter)="$event.preventDefault()">
    <mat-form-field *ngIf="(!WaitingForNextWord && !myTurn) || (WaitingForNextWord && myTurn)"
        class="example-form-field" appearance="fill">
        <mat-label>{{placeholderText}}</mat-label>
        <input [formControl]="guessWordFormControl" matInput type="text" [errorStateMatcher]="matcher" #input
            (keydown.enter)="submit()">
        <mat-error *ngIf="guessWordFormControl.errors">
            {{errorMessage}}
        </mat-error>
        <button [disabled]="!guessWordFormControl.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="guessWordFormControl.patchValue('')">
            <mat-icon>close</mat-icon>
        </button>
        <button [disabled]="!(guessWordFormControl.value && !guessWordFormControl.errors)" matSuffix mat-icon-button
            aria-label="Clear" (click)="submit()">
            <mat-icon>send</mat-icon>
        </button>
    </mat-form-field>
    <h3 class="mat-headline" *ngIf="WaitingForNextWord">{{subScript}}</h3>
</form>