<!-- <div> -->

<table mat-table [dataSource]="dataset" class="mat-elevation-z1 player-table">

    <ng-container matColumnDef="word">
        <th mat-header-cell *matHeaderCellDef> Guess </th>
        <td mat-cell *matCellDef="let element"> {{element.word}} </td>
    </ng-container>

    <ng-container matColumnDef="player">
        <th mat-header-cell *matHeaderCellDef> Player </th>
        <td mat-cell *matCellDef="let element"> {{element.player}} </td>
    </ng-container>
    <ng-container matColumnDef="cows">
        <th mat-header-cell *matHeaderCellDef> Cows </th>
        <td mat-cell *matCellDef="let element"> {{element.cows}} </td>
    </ng-container>

    <ng-container matColumnDef="bulls">
        <th mat-header-cell *matHeaderCellDef> Bulls </th>
        <td mat-cell *matCellDef="let element"> {{element.bulls}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- </div> -->