<mat-toolbar color="primary">
  <mat-icon style="margin-right:15px">track_changes</mat-icon>
  <span matripple="" class="mat-ripple mat-button-ripple"></span>
  <span class="link" (click)="navigateHome()">Cows and Bulls</span>
  <span fxFlex></span>
  <a class="link" mat-raised-button color="warn"
    href="https://github.com/rdc3/cows-and-bulls-angular-firebase/blob/main/HowToPlay.md">
    How to Play
    <mat-icon>info</mat-icon>
  </a>

  <span fxFlex></span>
  <span>Welcome {{playername}}</span>
  <mat-icon class="seperator">horizontal_rule</mat-icon>
  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<div class="body-container">
  <router-outlet></router-outlet>
</div>