/* You can add global styles to this file, and also import other style files */
@import "~handsontable/dist/handsontable.full.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: lightgray;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #3367d6;
}
::-webkit-sc
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #adadad;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #29b5e8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5e5e5e;
}
.example-card {
  max-width: 800px;
}
.card-container {
  // height: 80vh;
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-header-image {
  background-image: url("./assets/cow2.png");
  background-size: cover;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  color: darkslateblue;
}

.example-form-field {
  width: 100%;
}
.cross-icon {
  cursor: pointer;
}
.mat-card-background {
  background-color: rgba(255, 255, 255, 0.75) !important;
  border-radius: 4px;
}
.mat-card {
  background-color: rgba(255, 255, 255, 0) !important;
}
.link {
  cursor: pointer;
}
