.example-card {
  max-width: 800px;
}
.card-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-header-image {
  background-image: url("../../../assets/cow2.png");
  background-size: cover;
  border-radius: 2px;
}
.mat-card-image {
  border-radius: 4px;
}
.example-form {
  // width: 200px
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  color: darkslateblue;
  // padding: 20px 5px;
}

.example-form-field {
  width: 100%;
}
.cross-icon {
  cursor: pointer;
}
.mat-card-background {
  margin: 5px;
  // background-color: rgba(255, 255, 255, 0.75) !important;
  border-radius: 4px;
}
.mat-card {
  background-color: rgba(255, 255, 255, 0) !important;
}
.right-panel {
  margin-top: 70px;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .right-panel {
    margin: 10px 0px;
    .chat-container {
      margin-left: 0px;
    }
  }
}
@media screen and (orientation: landscape) {
  .right-panel {
    margin-top: 10px;
    width: 50vw;
  }
}
