.example-card {
  max-width: 800px;
}
.card-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-header-image {
  background-image: url("../../../assets/cow2.png");
  background-size: cover;
}
.example-form {
  // width: 200px
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  color: darkslateblue;
  // padding: 20px 5px;
}

.example-form-field {
  width: 100%;
}
.cross-icon {
  cursor: pointer;
}
.mat-card-background {
  background-color: rgba(255, 255, 255, 0.75) !important;
  border-radius: 4px;
}
.mat-card {
  background-color: rgba(255, 255, 255, 0) !important;
}
